### IntelliJ ###
.idea/

### VScode ###
.vscode/

### Helm ###
charts/
temp.yaml
temp*.yaml

### Credentials ###
*-plain.yaml
*.plain.yaml
*.pem

### Vagrant ###
.vagrant/

### Developments ###
*.log
