### IntelliJ ###
.idea/

### VScode ###
.vscode/

### Helm ###
charts/
temp.yaml
temp*.yaml

### Credentials ###
*-plain.yaml
*.plain.yaml
*.pem

### Vagrant ###
.vagrant/

### Terraform ###
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfvars
terraform/backend.hcl

### Ansible ###
ansible/inventory/group_vars/all.secret.yml
ansible/inventory/group_vars/workers.secret.yml

### Developments ###
*.log
tmp/
credentials/
secrets/
data/
generated.yaml
