### IntelliJ ###
.idea/

### VScode ###
.vscode/

### Helm ###
charts/
temp.yaml
temp*.yaml

### Credentials ###
*-plain.yaml
*.plain.yaml
*.pem

### Vagrant ###
.vagrant/

### Terraform ###
terraform/proxmox/.terraform/
terraform/proxmox/.terraform.lock.hcl
terraform/proxmox/terraform.tfvars
terraform/proxmox/backend.hcl
terraform/cloudflare/.terraform/
terraform/cloudflare/.terraform.lock.hcl
terraform/cloudflare/terraform.tfvars
terraform/cloudflare/backend.hcl

### Ansible ###
ansible/inventory/group_vars/all.secret.yml
ansible/inventory/group_vars/workers/secret.yml

### Developments ###
*.log
tmp/
credentials/
secrets/
data/
generated.yaml
