---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: minecraft-datadir-pv
  labels:
    target-app: minecraft-datadir
spec:
  capacity:
    storage: 100Gi
  accessModes:
  - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: local-storage
  local:
    path: /mnt/hdd/data/k8s/pv/minecraft/data
  nodeAffinity:
    required:
      nodeSelectorTerms:
      - matchExpressions:
        - key: kubernetes.io/hostname
          operator: Exists
