---
apiVersion: batch/v1
kind: CronJob
metadata:
  name: restart-deployment
  namespace: minecraft
spec:
  concurrencyPolicy: Forbid
  timeZone: "Asia/Tokyo"
  schedule: '30 9 * * *'
  jobTemplate:
    spec:
      backoffLimit: 1
      activeDeadlineSeconds: 1200
      template:
        spec:
          serviceAccountName: restart-deploy
          restartPolicy: Never
          containers:
          - name: kubectl
            image: bitnami/kubectl
            command:
            - /bin/sh
            - -c
            - /etc/config/restart-deployment.sh
            volumeMounts:
            - name: restart-deployment-cm
              mountPath: "/etc/config"
              readOnly: true
          volumes:
          - name: restart-deployment-cm
            configMap:
              name: restart-deployment-cm
              defaultMode: 0777
