---
controller:
  resources:
    requests:
      cpu: 1000m
      memory: 1024Mi
    limits:
      cpu: 2000m
      memory: 2048Mi
  service:
    externalTrafficPolicy: "Local"
    type: NodePort
    nodePorts:
      http: "30080"
      https: "30443"
  # -- Will add custom configuration options to Nginx https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/configmap/
  config:
    # Enables Online Certificate Status Protocol stapling (OCSP) support.
    enable-ocsp: "true"
    # Enables the preload attribute in the HSTS feature.
    hsts-preload: "true"
    # Sets the time during which a client may reuse the session parameters stored in a cache.
    ssl-session-timeout: "1d"
    # Enables TLS 1.3 early data, also known as Zero Round Trip Time Resumption (0-RTT).
    ssl-early-data: "true"
    # Enables compression of HTTP responses using the "gzip" module.
    use-gzip: "true"
    # Sets the timeout between two successive read or write operations on client or proxied server connections.
    proxy-stream-timeout: "0"
    # Limits the time allowed to pass a connection to the next server.
    proxy-stream-next-upstream-timeout: "0"
    # The client IP address will be set based on the use of PROXY protocol or from the X-Forwarded-For header value when use-forwarded-headers is enabled.
    use-forwarded-headers: "true"
    # Append the remote address to the X-Forwarded-For header instead of replacing it.
    compute-full-forwarded-for: "true"
    # Adds an X-Original-Uri header with the original request URI to the backend request.
    proxy-add-original-uri-header: "true"
    # Sets the maximum allowed size of the client request body.
    proxy-body-size: "100m"
    # Sets the status code to return in response to rejected requests.
    limit-req-status-code: "444"
    # Sets the status code to return in response to rejected connections.
    limit-conn-status-code: "444"
  ingressClassResource:
    default: true
  podLabels:
    target-app: ingress-nginx
