---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: nextcloud
helmCharts:
- name: nextcloud
  repo: https://nextcloud.github.io/helm/
  releaseName: nextcloud
  namespace: nextcloud
  version: 6.6.10
  valuesFile: values.yaml
  valuesMerge: override
images:
- name: nextcloud
  newTag: 31.0.6-fpm
- name: docker.io/bitnami/mariadb
  newTag: 11.8.3
- name: docker.io/bitnami/redis
  newTag: 8.0.2
resources:
- nextcloud-files-pvc.yaml
