---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: nextcloud
helmCharts:
- name: nextcloud
  repo: https://nextcloud.github.io/helm/
  releaseName: nextcloud
  namespace: nextcloud
  version: 5.5.3
  valuesFile: values.yaml
  valuesMerge: override
images:
- name: nextcloud
  newTag: 29.0.5-fpm
- name: docker.io/bitnami/mariadb
  newTag: 11.7.2
- name: docker.io/bitnami/redis
  newTag: 7.4.0
resources:
- nextcloud-files-pvc.yaml
