---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: prometheus-alertmanager-pvc
  namespace: monitoring
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: manual
  selector:
    matchLabels:
      target-app: prometheus-alertmanager
