---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: argocd
resources:
- https://raw.githubusercontent.com/argoproj/argo-cd/v3.0.0/manifests/install.yaml
- app-project.yaml
- application-set.yaml
patches:
- path: argocd-cm-patch.yaml
- path: argocd-cmd-params-cm-patch.yaml
