---
apiVersion: batch/v1
kind: CronJob
metadata:
  namespace: rss-generator
  name: update-rss-feeds
spec:
  schedule: "*/10 * * * *"
  jobTemplate:
    spec:
      template:
        spec:
          restartPolicy: OnFailure
          containers:
          - name: rss-generator
            image: ghcr.io/itk13201/rss-generator:v1.2.0
            args:
            - -w
            - -j
            envFrom:
            - configMapRef:
                name: rss-generator-cm
            env:
            - name: DATABASE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: rss-generator-secret
                  key: database-password
            resources:
              requests:
                cpu: 100m
                memory: 128Mi
              limits:
                cpu: 200m
                memory: 256Mi
