---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: rss-generator
resources:
- configmap.yaml
- deployment.yaml
- service.yaml
- cronjob.yaml
helmCharts:
- name: mariadb
  repo: oci://registry-1.docker.io/bitnamicharts
  version: 20.5.9
  releaseName: mariadb
  namespace: rss-generator
  valuesFile: values-mariadb.yaml
  valuesMerge: override
- name: selenium-grid
  repo: https://www.selenium.dev/docker-selenium
  version: 0.52.0
  releaseName: selenium
  namespace: rss-generator
  valuesFile: values-selenium.yaml
  valuesMerge: override
