---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: rss-generator
resources:
- configmap.yaml
- deployment.yaml
- service.yaml
- cronjob.yaml
helmCharts:
- name: mariadb
  repo: https://charts.bitnami.com/bitnami
  version: 19.0.5
  releaseName: mariadb
  namespace: rss-generator
  valuesFile: values-mariadb.yaml
  valuesMerge: override
- name: selenium-grid
  repo: https://www.selenium.dev/docker-selenium
  version: 0.32.0
  releaseName: selenium
  namespace: rss-generator
  valuesFile: values-selenium.yaml
  valuesMerge: override
