---
# ref: https://hub.docker.com/r/itzg/minecraft-server/
image:
  repository: itzg/minecraft-server
  tag: latest
  pullPolicy: IfNotPresent
  pullSecret: ""
# ### WARNING ###
# Minecraft is not horizontally scalable, adjusting this will most likely break your setup.
# ### WARNING ###
replicaCount: 1
## Configure resource requests and limits
## ref: http://kubernetes.io/docs/user-guide/compute-resources/
##
resources:
  requests:
    memory: 25Gi
    cpu: 1
  limits:
    memory: 25Gi
    cpu: 4
podSecurityContext:
  runAsUser: 1000
  runAsGroup: 1000
  runAsNonRoot: true
  fsGroup: 1000
  seccompProfile:
    type: RuntimeDefault
securityContext:
  capabilities:
    drop:
    - ALL
  readOnlyRootFilesystem: true
  allowPrivilegeEscalation: false
minecraftServer:
  # This must be overridden, since we can't accept this for the user.
  eula: "TRUE"
  # One of: LATEST, SNAPSHOT, or a specific version (ie: "1.7.9").
  version: "1.21.1"
  # This can be one of "VANILLA", "FORGE", "SPIGOT", "BUKKIT", "PAPER", "FTBA", "SPONGEVANILLA", "CURSEFORGE"
  type: "PAPER"
  # If type is set to PAPER, this sets the URL to download the PaperSpigot package
  paperDownloadUrl: "https://api.papermc.io/v2/projects/paper/versions/1.21.1/builds/69/downloads/paper-1.21.1-69.jar"
  # Set to true if running Feed The Beast and get an error like "unable to launch forgemodloader"
  ftbLegacyJavaFixer: default
  # One of: peaceful, easy, normal, and hard
  difficulty: easy
  # A comma-separated list of player names to whitelist.
  whitelist:
  # A comma-separated list of player names who should be admins.
  ops:
  # A server icon URL for server listings. Auto-scaled and transcoded.
  icon: "https://yt3.googleusercontent.com/ytc/AIdro_n0UHVg3QPJtrk2JvWHSu5q5ROON0zKSJ_5o3_Xxzx4LSY=s160-c-k-c0x00ffffff-no-rj"
  # Max connected players.
  maxPlayers: 30
  # This sets the maximum possible size in blocks, expressed as a radius, that the world border can obtain.
  maxWorldSize: 10000
  # Allows players to travel to the Nether.
  allowNether: default
  # Allows server to announce when a player gets an achievement.
  announcePlayerAchievements: default
  # Enables command blocks.
  enableCommandBlock: default
  # If true, players will always join in the default gameMode even if they were previously set to something else.
  forcegameMode: default
  # Defines whether structures (such as villages) will be generated.
  generateStructures: default
  # If set to true, players will be set to spectator mode if they die.
  hardcore: default
  # The maximum height in which building is allowed.
  maxBuildHeight: 256
  # The maximum number of milliseconds a single tick may take before the server watchdog stops the server with the message. -1 disables this entirely.
  maxTickTime: 60000
  # Determines if animals will be able to spawn.
  spawnAnimals: default
  # Determines if monsters will be spawned.
  spawnMonsters: default
  # Determines if villagers will be spawned.
  spawnNPCs: default
  # Sets the area that non-ops can not edit (0 to disable)
  spawnProtection: 16
  # Max view distance (in chunks).
  viewDistance: 10
  # Define this if you want a specific map generation seed.
  levelSeed:
  # One of: creative, survival, adventure, spectator
  gameMode: survival
  # Message of the Day
  motd: "Welcome to the JOJI server!"
  # If true, enable player-vs-player damage.
  pvp: default
  # One of: DEFAULT, FLAT, LARGEBIOMES, AMPLIFIED, CUSTOMIZED
  levelType: "minecraft:normal"
  # When levelType == FLAT or CUSTOMIZED, this can be used to further customize map generation.
  # ref: https://hub.docker.com/r/itzg/minecraft-server/
  generatorSettings:
  worldSaveName: world
  # If set, this URL will be downloaded at startup and used as a starting point
  downloadWorldUrl:
  # force re-download of server file
  forceReDownload: false
  # If set, the modpack at this URL will be downloaded at startup
  downloadModpackUrl:
  # If true, old versions of downloaded mods will be replaced with new ones from downloadModpackUrl
  removeOldMods: false
  # A list of VanillaTweaks Share Codes to download. (https://vanillatweaks.net/share#wUq1iz => "wUq1iz")
  vanillaTweaksShareCodes: []
  # Optional URI to a resource pack. The player may choose to use it.
  resourcePackUrl:
  # Optional SHA-1 digest of the resource pack, in lowercase hexadecimal.
  # It is recommended to specify this, because it is used to verify the integrity of the resource pack.
  resourcePackSha:
  # When true, players will be prompted for a response and will be disconnected if they decline the required pack
  resourcePackEnforce: false
  # Check accounts against Minecraft account service.
  onlineMode: false
  # Require public key to be signed by Mojang to join
  enforceSecureProfile: default
  # If you adjust this, you may need to adjust resources.requests above to match.
  memory: 25G
  # General JVM options to be passed to the Minecraft server invocation
  jvmOpts: ""
  # Options like -X that need to proceed general JVM options
  jvmXXOpts: ""
  # By default, the server configuration will be created and set based on the following environment variables, but only the first time the server is started
  # If you would like to override the server configuration each time the container starts up, you can set this to true
  # see https://github.com/itzg/docker-minecraft-server#server-configuration
  overrideServerProperties: false
  # DEPRECATED: use top-level rconServiceAnnotations instead
  serviceAnnotations: {}
  serviceType: NodePort
  ## Set the port used if the serviceType is NodePort
  nodePort: 30011
  # Set the external port of the service, usefull when using the LoadBalancer service type
  servicePort: 25565
  # List with URLs and paths to jar files, additionally may be a directory with jars
  # This works for both mods and plugins depending on server type
  modUrls: []
  pluginUrls:
  - "https://download.luckperms.net/1556/bukkit/loader/LuckPerms-Bukkit-5.4.141.jar"
  # A list of Spigot resources/plugins IDs to download.
  spigetResources:
  # LWC Extended: https://www.spigotmc.org/resources/lwc-extended.69551/
  - 69551
  # ChestSort: https://www.spigotmc.org/resources/chestsort-api.59773/
  - 59773
  # Additional service specs to be defined
  extraServiceSpec: {}
  # A list of Modrinth project slugs with optional version after colon
  modrinth:
    projects:
    - "simple-voice-chat:nS19YToN"
    - "worldedit:yAujLUIK"
    - "viaversion:pmXPieWB"
    - "decentholograms:Md7xgFfm"
    - "worldguard:J66QOTLZ"
    - "dcintegration:YjBjd4DI"
    - "axgraves:V4lEjrPp"
    - "lmd:kyd9MmX5"
    - "tab-was-taken:o9Ylz5E0"
    - "chunky:6ENKPUbu"
    - "vanillaminimaps:hfUSq7Jz"
    # Downloads Modrinth project dependencies marked as optional
    optionalDependencies: false
    # The version type is used to determine the newest version to use from each project. The allowed values are: release, beta, alpha
    allowedVersionType: release
  rcon:
    # If you enable this, make SURE to change your password below.
    enabled: true
    # By default, the container will generate a random password at startup
    # to ensure internal RCON tooling, including a backup container,
    # can be used, but the password is secure.
    withGeneratedPassword: false
    port: 25575
    existingSecret: minecraft-secret
    secretKey: rcon-password
    serviceType: NodePort
    ## Set the external port if the rcon serviceType is NodePort
    nodePort: 30012
  extraPorts:
  - service:
      enabled: true
      embedded: true
      port: 24454
      nodePort: 30013
    name: vc
    containerPort: 24454
    protocol: UDP
persistence:
  dataDir:
    # Set this to false if you don't care to persist state between restarts.
    enabled: true
    existingClaim: minecraft-datadir-pvc
# PLEASE NOTE! rcon must be enabled above!  It does NOT require a nodePort or loadBalancerIP
mcbackup:
  enabled: true
  image:
    repository: itzg/mc-backup
    tag: latest
    pullPolicy: IfNotPresent
  #  wait 2 minutes before starting
  initialDelay: 2m
  # ***set to 0 or smaller, script will run once and exit.  DO NOT SET TO 0 or smaller, this will cause K8s to kill your pod!***
  # backupInterval="1.5d" -> backup every one and a half days (36 hours)
  # backupInterval="2h 30m" -> backup every two and a half hours
  backupInterval: 24h
  # option lets you pause backups if no players are online.
  pauseIfNoPlayers: "true"
  # is set to a positive number, it'll delete old .tgz backup files from DEST_DIR. By default deletes backups older than a week.
  pruneBackupsDays: 30
  # Set to a negative value to retry indefinitely
  rconRetries: 5
  rconRetryInterval: 10s
  # is a comma-separated list of glob(3) patterns to exclude from backups. By default excludes all jar files (plugins, server files),
  # logs folder and cache (used by i.e. PaperMC server).
  excludes: "*.jar,cache,logs"
  # backup methods, see https://github.com/itzg/docker-mc-backup e.g. tar, rclone, restic, rsync
  backupMethod: tar
  # tar and rclone methods
  destDir: /backups
  # is a true/false flag that creates a symbolic link to the latest backup
  linkLatest: "false"
  # is the compression method used by tar. Valid value: gzip bzip2 zstd
  compressMethod: "gzip"
  # sets the parameters for zstd compression. The --long parameter affects RAM requirements for both compression and decompression
  # (the default of 25 means 2^25 bytes = 32 MB).
  zstdParameters: "-3 --long=25 --single-thread"
  # the name of the remote you've configured in your rclone.conf
  rcloneRemote:
  rcloneDestDir:
  rcloneCompressMethod: gzip
  # see https://rclone.org/ for details
  # this value is evaluated as a template
  rcloneConfig:
  # [remote]
  # type = google cloud storage
  # client_id =
  # client_secret =
  # token = {"AccessToken":"super","RefreshToken":"secret","Expiry":"date","Extra":null}
  # project_number = 12345678
  # object_acl = private
  # bucket_acl = private

  # if you prefer to create a secret from file (e.g. kubectl create secret generic my-rclone-config --from-file=~/.config/rclone/rclone.conf)
  # rcloneConfigExistingSecret: my-rclone-config
  resticRepository: ""
  # variable to define a space separated list of additional restic tags. see https://hub.docker.com/r/itzg/mc-backup
  resticAdditionalTags: "mc_backups"
  # see https://restic.readthedocs.io/en/latest/060_forget.html
  pruneResticRetention: "--keep-daily 7 --keep-weekly 5 --keep-monthly 12 --keep-yearly 75"
  # At least one of RESTIC_PASSWORD* env variables need to be defined, see https://restic.readthedocs.io/en/latest/030_preparing_a_new_repo.html
  resticEnvs: {}
  # RESTIC_PASSWORD: restic-password

  resources:
    requests:
      memory: 512Mi
      cpu: 500m
  persistence:
    backupDir:
      # Set this to false if you don't care to persist state between restarts.
      enabled: true
      existingClaim: minecraft-backupdir-pvc
