---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: growi
resources:
- configmap.yaml
- deployment.yaml
- pvc.yaml
- service.yaml
- pvc-mongodb.yaml
- pvc-elasticsearch-master.yaml
- pvc-elasticsearch-data.yaml
helmCharts:
- name: mongodb
  repo: https://charts.bitnami.com/bitnami
  version: 15.6.26
  releaseName: mongodb
  namespace: growi
  valuesFile: values-mongodb.yaml
  valuesMerge: override
- name: elasticsearch
  repo: https://charts.bitnami.com/bitnami
  version: 21.6.3
  releaseName: elasticsearch
  namespace: growi
  valuesFile: values-elasticsearch.yaml
  valuesMerge: override
